body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.91em;
    color: #575757;
    line-height: 2.1;
   
    }
    .nav-logo {
        width: 120px;
    }
    @media only screen and (max-width: 600px) { .nav-logo {
        display: none;
    }
}
.nav-link {
    color: white!important;
}
    main {
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.grey-background {
    background: rgb(89,89,89);
    background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(153,153,153,1) 100%); 
    color: white;

}
.blue-background {
    background: rgb(0,96,144);
    background: linear-gradient(180deg, rgba(0,96,144,1) 0%, rgba(0,143,209,1) 100%); 
    color: white;
}
.carousel-caption {
    text-align: right;
top: 1.25rem;
bottom: initial;
left: initial;
right: 1.25rem;
padding-right: 1.25rem;
padding-left: 1.25rem;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 1.3em;
}
.carousel-image-1 {
    background-image: url(../images/hispec-edgehill-library-nordic-brown-light-copper-cropped.jpg);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-2 {
    background-image: url(../images/metalex-sudbourne-stainless-steel-snaplock.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-3 {
    background-image: url(../images/proclad-western-harbour-preaged-zinc-temp-image.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-4 {
    background-image: url(../images/amr-shot-tower-textures-corten-temp-image.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-5 {
    background-image: url(../images/mc&h-merkinch-greencoat.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media only screen and (max-width: 600px) {
.carousel-image-1{
    height: 50vh;
}
.carousel-image-2{
    height: 50vh;
}
.carousel-image-3{
    height: 50vh;
}
.carousel-image-4{
    height: 50vh;
}
.carousel-image-5{
    height: 50vh;
}

}

.text-container {
    background-color: black!important;
    color: white!important;
    padding: 1rem;

    
}
.shingles {
    background-size: cover;
background-image: url(../images/shingles-homepage.jpg);
grid-column: 1 / 5;
grid-row: 1 / 2;
min-height: 275px;
text-decoration: none;
}
.reveal {
    background-size: cover;
background-image: url(../images/reveal-panel-homepage.jpg);
grid-column: 5 / 8;
grid-row: 1 / 2;
text-decoration: none;
}
.standing-seam {
    background-size: cover;
background-image: url(../images/standing-seam-homepage-cropped.jpg);
grid-column: 8 / 12;
grid-row: 1 / 2;
text-decoration: none;
}

.batten-roll {
    background-size: cover;
background-image: url(../images/batten-roll-homepage.jpg);
grid-column: 1 / 6;
grid-row: 2 / 3;
text-decoration: none;
}

.snaplock {
    background-size: cover;
background-image: url(../images/snaplock-homepage.JPG);
grid-column: 6 / 12;
grid-row: 2 / 3;
text-decoration: none;
}
.systems{
    display: flex;
}
.systems-wording {
    width: 25%;
    margin-left: 2rem;
}

.systems-grid {
  
    display: grid;

grid-template-rows: 1fr 1fr;
column-gap: 10px;
row-gap: 10px;
width: 75%;
max-width: 800px;
min-height: 550px;
}


.system-name {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
color: white;
font-size: 20px;
font-weight: 1;
padding-left: 10px;
width: 100%;
height: 100%;

background: rgba(0, 0, 0, 0.5);
}

.system-name:hover {
    opacity: 1;
}

.rwg-grid {
  
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
column-gap: 10px;
row-gap: 10px;
max-width: 1000px;
min-height: 550px;
}


.rw-wording {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
color: white;
font-size: 20px;
font-weight: 1;
padding-left: 10px;
width: 100%;
height: 100%;

background: rgba(0, 0, 0, 0.5);
}

.rw-wording:hover {
    opacity: 1;
}

.zinc-rwg {
    background-size: cover;
    background-image: url(../images/zinc-rainwater-system.JPG);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-height: 275px;
    text-decoration: none;
}

.ss-rwg {
    background-size: cover;
    background-image: url(../images/stainess-steel-rainwater-system.jpg);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    min-height: 275px;
    text-decoration: none;
}

.copper-rwg {
    background-size: cover;
    background-image: url(../images/copper-rainwater-system.JPG);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    min-height: 275px;
    text-decoration: none;
}

.greencoat-rwg {
    background-size: cover;
    background-image: url(../images/greencoat-rainwater-system.JPG);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-height: 275px;
    text-decoration: none;
}




.category-image {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
   
}
.button {
    font-size: 1rem!important;
    text-decoration: none;
    color: white;
    text-align: right;
}
.button:hover {
    color:white;
}

.button:hover .arrow-btn{
    background-color:rgb(70, 71, 71);
    color: white!important;
    transition: color, background-color 0.2s ease-in-out;
}
.find-out-more {
    display: inline-block;
}
.find-out-more:hover {
    color: white;
    text-decoration: underline;
}
.arrow-btn {
    display: inline-block;
    
padding: unset;
padding-left: 10px;
padding-right: 10px;
    border-radius: 50px;
}

.centre {
    text-align: center;
justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ms-image {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#carousel-logos {
    margin-bottom: 2em;
}
.supplier-logo {
    padding-top: 1em;
}
@media only screen and (max-width: 600px) {
    .supplier-logo{
       width: 50%;
    }
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    height: 100%;
    font-size: 0.9em;
}

.btn{
    width: initial;
    display: block;
    text-align: left;
    background-color: #3a3a3a;
 
  
}

li {
    list-style: none;
}

.submit {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color:  #3a3a3a;
    background-color:white;
    border-radius: 10px;
    
}
.footer {
background-color: black;
color: white;
padding-top: 2em;

}

.footer-logo {
    width: 200px;
}
