body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.91em;
    color: #575757;
    line-height: 2.1;
   
    }
    .nav-logo {
        width: 120px;
    }
    @media only screen and (max-width: 600px) { .nav-logo {
        display: none;
    }
}
.nav-link {
    color: white!important;
}
    main {
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.grey-background {
    background: rgb(89,89,89);
    background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(153,153,153,1) 100%); 
    color: white;

}
.blue-background {
    background: rgb(0,96,144);
    background: linear-gradient(180deg, rgba(0,96,144,1) 0%, rgba(0,143,209,1) 100%); 
    color: white;
}
.carousel-caption {
    text-align: right;
top: 1.25rem;
bottom: initial;
left: initial;
right: 1.25rem;
padding-right: 1.25rem;
padding-left: 1.25rem;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 1.3em;
}
.carousel-image-1 {
    background-image: url(../images/hispec-edgehill-library-nordic-brown-light-copper-cropped.jpg);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-2 {
    background-image: url(../images/metalex-sudbourne-stainless-steel-snaplock.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-3 {
    background-image: url(../images/proclad-western-harbour-preaged-zinc-temp-image.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-4 {
    background-image: url(../images/amr-shot-tower-textures-corten-temp-image.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-image-5 {
    background-image: url(../images/mc&h-merkinch-greencoat.JPG);
    width: 100%;
height: 80vh; /* You must set a specified height */
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media only screen and (max-width: 600px) {
.carousel-image-1{
    height: 50vh;
}
.carousel-image-2{
    height: 50vh;
}
.carousel-image-3{
    height: 50vh;
}
.carousel-image-4{
    height: 50vh;
}
.carousel-image-5{
    height: 50vh;
}

}

.text-container {
    background-color: black!important;
    color: white!important;
    padding: 1rem;

    
}
.category-image {
    
    
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
   
}
.button {
    font-size: 1rem!important;
    text-decoration: none;
    color: white;
    text-align: right;
}
.button:hover {
    color:white;
}

.button:hover .arrow-btn{
    background-color:rgb(70, 71, 71);
    color: white!important;
    transition: color, background-color 0.2s ease-in-out;
}
.find-out-more {
    display: inline-block;
}
.find-out-more:hover {
    color: white;
    text-decoration: underline;
}
.arrow-btn {
    display: inline-block;
    
padding: unset;
padding-left: 10px;
padding-right: 10px;
    border-radius: 50px;
}

.centre {
    text-align: center;
justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ms-image {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#carousel-logos {
    margin-bottom: 2em;
}
.supplier-logo {
    padding-top: 1em;
}
@media only screen and (max-width: 600px) {
    .supplier-logo{
       width: 50%;
    }
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    height: 100%;
    font-size: 0.9em;
}

.btn{
    width: initial;
    display: block;
    text-align: left;
    background-color: #3a3a3a;
 
  
}
h2 {
    white-space: nowrap;
}
li {
    list-style: none;
}
.footer {
background-color: black;
color: white;
padding-top: 2em;
}
.footer-logo {
    width: 200px;
}
